// COLORS
$primary: #AC8FB6;
$secondary: #F3EBF6;
$black: #161616;
$white: #FBFBFB;

// FONTS
@import url("https://use.typekit.net/gpk2rpd.css");

$fontstyle: normal;
$fontfam: tenon, sans-serif;

$fontxlight: 200;
$fontxbold: 800;